<div
  class="jumbotron m-0 rounded-0"
  style="background-color: {{backgroundColor}}"
>
  <div class="container text-center">
    <h1 class="display-4" style="color: #000">Hello World</h1>
    <p class="lead" style="color: #7a8489">Lorem ipsum dolor sit amet.</p>
    <a
      class="btn btn-primary my-2"
      href="http://google.com"
      style="background-color: #0069d9; border-color: #0069d9"
      >Click here</a
    >
    <a class="btn btn-link my-2" href="http://google.com" style="color: #007bee"
      >Saiba Mais</a
    >
  </div>
</div>

<div class="container-fluid" style="background-color: {{backgroundColor}}">
  <div class="row">
    <div class="col-sm-6 col-md-4 item">
      <a href="{{link}}">
        <img class="img-fluid" src="{{image1}}" />
      </a>
      <h3 class="name" style="color: {{colorTitleArticle1}}">
        {{articleTitle1}}
      </h3>
      <p class="description" style="color: {{colorDescriptArticle1}}">
        {{text1}}
      </p>
    </div>
    <div class="col-sm-6 col-md-4 item">
      <a href="#">
        <img class="img-fluid" src="{{image2}}" />
      </a>
      <h3 class="name" style="color: {{colorTitleArticle2}}">
        {{articleTitle2}}
      </h3>
      <p class="description" style="color: {{colorDescriptArticle2}}">
        {{text2}}
      </p>
    </div>
    <div class="col-sm-6 col-md-4 item">
      <a href="#">
        <img class="img-fluid" src="{{image3}}" />
      </a>
      <h3 class="name" style="color: {{colorTitleArticle3}}">
        {{articleTitle3}}
      </h3>
      <p class="description" style="color: {{colorDescriptArticle3}}">
        {{text3}}
      </p>
    </div>
  </div>
</div>

<div
  class="d-flex justify-content-center align-items-center"
  style="background-color: {{backgroundColor}}"
>
  <div class="row">
    <div class="col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{{img1}}" alt="{{alt1}}" />
      </a>
    </div>
    <div class="col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{{img2}}" alt="{{alt2}}" />
      </a>
    </div>
  </div>
</div>

<footer
  class="text-light text-center py-3"
  style="background-color: {{backgroundColor}}"
>
  <small style="color: {{color}}">&copy; {{rigthsReserved}}</small>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="{{href}}">{{button}}</a>
  </div>

  <div class="d-flex justify-content-center mt-2">
    <a href="#" class="d-block mb-4 h-100">
      <img
        class="img-fluid img-thumbnail"
        src="{{imgLogo}}"
        alt="{{altLogo}}"
      />
    </a>
  </div>
</footer>
